{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>Guests Panel</h1>
</div>

<div class="guests-list">
    <h5 class="guests">Current List of Guests</h5>
    {% for guest in guests %}
    <li><a href="{{guest.get('link')}}">{{guest.get('name')}}</a></li>
    {% endfor %}
</div>

<h3 class="add-guest">Add New Guest:</h3>

<form action="{{url_for('adminguests', username=username)}}" method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(form) }}
</form>

{% endblock %}