{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>Settings Panel</h1>
</div>

<h5 class="settings"><strong>Name</strong> - {{adminprofile.get("name")}}</h5>
<h5 class="settings"><strong>Username</strong> - {{adminprofile.get("username")}}</h5>
<h5 class="settings"><strong>DeviceID</strong> - {{adminprofile.get("deviceid")}}</h5>

<div class="settings-border"></div>

<h4>Current Photo:</h4><br>
<img src="/static/{{adminphoto}}" alt="Admin Picture" style="width:150px;height:150px">


{% endblock %}