{% extends "baselogin.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{{url_for('home')}}">KES</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('users')}}">Users</a></li>
                <li><a href="{{url_for('guests')}}">Guests</a></li>
                <li><a href="{{url_for('settings')}}">Settings</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}