{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{{url_for('adminhome', username=username)}}">KES</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('adminhome', username=username)}}">Home</a></li>
                <li><a href="{{url_for('adminusers', username=username)}}">Users</a></li>
                <li><a href="{{url_for('adminguests', username=username)}}">Guests</a></li>
                <li><a href="{{url_for('adminsettings', username=username)}}">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}