{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h3>{{guestprofile.get("name")}}</h3>
</div>

<h5 class="usermodel"><strong>Name</strong> - {{guestprofile.get("name")}}</h5>
<h5 class="usermodel"><strong>Parent Admin</strong> - {{guestprofile.get("parent_name")}}</h5>
<h5 class="usermodel"><strong>Profile Type</strong> - Guest</h5>

<div class="photo-border"></div>

<h4>Current Photo:</h4><br>
<img src="/static/{{guestphoto}}" alt="Guest Picture" style="width:150px;height:150px">
<br><br>
<form action="{{guestprofile.get('link')}}" method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(photoform) }}
</form>
{% endblock %}