{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>Guests Panel</h1>
</div>

<div class="guests-list">
    <h5 class="guests">Current List of Guests</h5>
    {% for guest in guests %}
    <li> <a href="{{url_for('guestmodel', guest = guest.get('full_name')) }} ">{{guest.get('full_name')}}</a> </li>
    {% endfor %}
</div>

<h3 class="add-guest">Add New Guest:</h3>

<form action="{{url_for('guests')}}" method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(form) }}
</form>

<br>

{% endblock %}