{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h3>{{guestprofile.get("name")}} (Guest)</h3>
</div>

<h5 class="usermodel"><strong>Name</strong> - {{guestprofile.get("name")}}</h5>
<h5 class="usermodel"><strong>Under Admin</strong> - {{guestprofile.get("parent_name")}}</h5>
<h5 class="usermodel"><strong>Profile Type</strong> - Guest</h5>

<div class="photo-border"></div>

<h4>Current Photo:</h4>
<img src="/static/{{guestphoto}}" alt="Guest Picture" style="width:150px;height:150px"> <br><br>

<form action="{{guestprofile.get('link')}}" method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(photoform) }}
</form>

<a href="{{url_for('removeguest', guestname=guestname)}}" class="button-delete">Delete Guest</a>

<div class="back">
<a href="{{url_for('guests')}}">Back to Guests Panel</a>
</div>

{% endblock %}