{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>Admin Dashboard</h1>
    <h4>Welcome, {{ adminprofile.get("full_name") }}!</h4>
</div>

<div class="door-activity">
    <h5 class="home">Recent Door Activity</h5>
    {% for activity in door_activity %}
    <li> <a href="/static/toggle_photos/{{ activity.get('photo_simplename') }} ">{{activity.get("_id")}}</a> </li>
    {% endfor %}
</div>

<div class="door-current-status">
    <h5>Current Door Status - {{device.get('status')}}</h5>
</div>

<div class="door-current-power">
    <h5>Device Battery Life - {{device.get('battery')}}</h5>
</div>

{% endblock %}