{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>Settings Panel</h1>
</div>

<h5 class="settings"><strong>Name</strong> - {{adminprofile.get("full_name")}}</h5>
<h5 class="settings"><strong>Username</strong> - {{adminprofile.get("username")}}</h5>
<h5 class="settings"><strong>DeviceID</strong> - {{adminprofile.get("device_id")}}</h5>
<h5 class="settings"><strong>Profile Type</strong> - Admin</h5>

<div class="photo-border"></div>

<h4>Photos:</h4>
<div id="photocontainer">
    <ul id="photolist">
    {% for photo in adminphotos %}
    <li>
        <img src={{photo.get("photo_filepath")}} alt="Admin Image" style="width:200px;height:200px">
        <a href= " {{ url_for('removephoto', photosimplename = photo.get('photo_simplename') ) }} " class="button-delete">Delete Photo</a>
    </li>
    {% endfor %}
    </ul>
</div>


<form action="{{url_for('settings')}}" method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(photoform) }}
</form>

<br>

{% endblock %}