/* Admin Dashboard Styles */
.admin-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.user-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.guest-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.door-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.door-current-status{
    width: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.door-current-power{
    width: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.home{
    padding: 5px;
    border: 1px solid #000;
}

/* User Panel Styles */

.users-list{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.users{
    padding: 5px;
    border: 1px solid #000;
}

h3.add-user{
    text-align: left;
    font-weight: bold;
}

/* Guest Panel Styles */

.guests-list{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.guests{
    padding: 5px;
    border: 1px solid #000;
}

h3.add-guest{
    text-align: left;
    font-weight: bold;
}

/* Settings Panel Styles */

h5.settings {
    width: 100%;
    padding: 5px;
    background-color: #C0C0C0;
    text-align: left;
}

/* User Model Styles */

h5.usermodel{
    width: 100%;
    padding: 5px;
    background-color: #C0C0C0;
    text-align: left;
}

/* General Styles */

.photo-border{
    border: 1px groove #808080;
    margin-top: 25px;
    margin-bottom: 20px;
}

li{
    list-style-type: none;
}

.back{
    text-decoration: underline;
    text-align: center;
}