/* Admin Dashboard Styles */
.admin-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.user-activity{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.guest-activity{
    width: 100%;
    height: 150px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.home{
    padding: 5px;
    border: 1px solid #000;
}

/* User Panel Styles */

.users-list{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.users{
    padding: 5px;
    border: 1px solid #000;
}

h3.add-user{
    text-align: left;
    font-weight: bold;
}

/* Guest Panel Styles */

.guests-list{
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.guests{
    padding: 5px;
    border: 1px solid #000;
}

h3.add-guest{
    text-align: left;
    font-weight: bold;
}

/* Settings Panel Styles */