/* Admin Dashboard Styles */
.door-activity{
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
    overflow-y:auto
}

.door-current-status{
    width: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

.door-current-power{
    width: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
}

h5.home{
    font-weight: bold;
    padding: 5px;
    border: 2px solid #000;
}

/* User Panel Styles */

.users-list{
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
    overflow-y:auto
}

h5.users{
    font-weight: bold;
    padding: 5px;
    border: 2px solid #000;
}

h3.add-user{
    text-align: left;
    font-weight: bold;
}

/* Guest Panel Styles */

.guests-list{
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #C0C0C0;
    text-align: center;
    overflow-y:auto
}

h5.guests{
    font-weight: bold;
    padding: 5px;
    border: 2px solid #000;
}

h3.add-guest{
    text-align: left;
    font-weight: bold;
}

/* Settings Panel Styles */

h5.settings {
    width: 100%;
    padding: 5px;
    background-color: #C0C0C0;
    text-align: left;
}

/* User Model Styles */

h5.usermodel{
    width: 100%;
    padding: 5px;
    background-color: #C0C0C0;
    text-align: left;
}

/* General Styles */

.photo-border{
    border: 1px groove #808080;
    margin-top: 25px;
    margin-bottom: 20px;
}

li{
    list-style-type: none;
}

.back {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

[class*='button-'] {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);

	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

[class*='button-']:hover {
	cursor: pointer;
}

.button-delete {
	background-color: rgb( 207, 56, 91 );
	border: 1px solid rgb( 187, 40, 74 );
    margin-top: 15px;
}

.button-delete:hover {
    background-color: rgb( 227, 77, 130 );
}

.button-delete:active {
	background-color: rgb( 187, 40, 74 );
}
